/* rendu de 
    <Button outline={{xs: 'primary', sm: 'danger', md: 'success'}} >outline</Button>
*/


    .dIInZs {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        box-sizing: border-box;
        cursor: pointer;
        outline: none;
        font: inherit;
        -webkit-text-decoration: none;
        text-decoration: none;
        margin: 0;
        background: transparent;
        overflow: visible;
        text-transform: none;
        border-style: solid;
        border-radius: 4px;
        background-color: #3366ff;
        color: #fff;
        font-size: 16px;
        line-height: 26px;
        border-width: 2px;
        border-color: transparent;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 24px;
        padding-right: 24px;
        font-size: 16px;
        line-height: 24px;
    }

    .dIInZs:focus {
        outline: none;
        box-shadow: 0 0 0 2px;
    }

    .dIInZs:disabled {
        cursor: not-allowed;
        pointer-events: all !important;
    }

    .dIInZs:hover {
        background-color: #274bdb;
        color: #fff;
        border-color: #274bdb;
    }

    .dIInZs:disabled {
        background-color: #f2f6ff;
        color: #a6c1ff;
        border-color: #d9e4ff;
    }

    @media screen and (min-width:0px) {
        .dIInZs {
            border: 1px solid #3366ff;
            color: #3366ff;
            border-width: 2px;
            background-color: transparent;
        }

        .dIInZs:hover {
            background-color: #3366ff;
            color: #fff;
            border-color: #3366ff;
        }
    }

    @media screen and (min-width:500px) {
        .dIInZs {
            border: 1px solid #ff3d71;
            color: #ff3d71;
            border-width: 2px;
            background-color: transparent;
        }

        .dIInZs:hover {
            background-color: #ff3d71;
            color: #fff;
            border-color: #ff3d71;
        }
    }

    @media screen and (min-width:960px) {
        .dIInZs {
            border: 1px solid #00d68f;
            color: #00d68f;
            border-width: 2px;
            background-color: transparent;
        }

        .dIInZs:hover {
            background-color: #00d68f;
            color: #fff;
            border-color: #00d68f;
        }
    }

